{
  "arrowParens": "always",
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^react$",
    "",
    "^next",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@project/(.*)$",
    "",
    "^@/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderTypeScriptVersion": "5.9.3",
  "tailwindStylesheet": "./src/app/globals.css",
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
